* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #1a1515;
  /* Cor fora do body */
}

body {
  background-color: #ededf3; /* Cor do conteúdo principal */
  margin: 50px auto;
  max-width: 800px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.notAplication {
  width: 30px;

}

.generection {

  width: 50px;
}

.nighttime, .daytime {
  width: 60px;
  margin-left: 15px;

}

.login {

  font-size: 30px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;

}


#loginForm {

  width: 200px;
}

.loginInitial {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  /* espaço abaixo do input */
}

button {
  width: 100%;
  background: #9ce25a;
}


.relatorio {
  max-width: 800px;
  margin: auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #2c3e50;
}

.data {
  text-align: right;
  font-style: italic;
  color: #555;
}

section {
  margin-top: 20px;
}

h2 {
  color: #34495e;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

ul {
  padding-left: 20px;
}

.assinaturas p {
  margin-top: 10px;
}

